body {
  font-family: 'Avenir LT W01 35 Light', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3C4348;
  font-weight: normal;
  padding: 30px 60px;
}

h1 {
	font-family: 'AvenirNextLTW01-UltraLi';
	font-size: 52px;
	text-align: center;
	font-weight: normal;
	color: #171A1E;
	margin-bottom: 10px;
}

h2 {
	font-family: 'AvenirNextLTW01-UltraLi';
	font-size: 36px;
	text-align: left;
	font-weight: normal;
	color: #171A1E;
}

h3 {
	font-family: 'Avenir LT W01 85 Heavy';
	font-size: 16px;
	font-weight: normal;
	color: #171A1E;
}

#heading h3 {
	text-align: center;
}

a {
	color: #76C0E7;
	text-decoration: none;
}

  .example {
    display: block;
    position: relative;
    padding: 5px;
    margin: 0;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
    background: #fafafa;
  }
  .example ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .example li {
    display: block;
    float: left;
    margin: 5px;
    padding: 0;
  }
    .example li img {
      display: block;
      margin: 0;
    }

.demo {
  display: block;
  position: relative;
  margin: 0 0 50px 0;
}

pre, code {
  font-family: Monaco, monospace;
  overflow: hidden;
}

pre.prettyprint {
  padding: 0;
  border: none;
  max-width: 100%;
  overflow: hidden;
}

.tag {
	color: #3C4348;
}

.atv, .str, .kwd, .lit {
	color: #A0D0AB;
}

.pun, .opn, .clo, .atn {
	color: #3C4348;
}

.com {
	color: #C4CDD2;
}

hr {
  border: none;
  outline: none;
  height: 1px;
  background: #F7F7F7;
  margin: 50px 0;
}

.body-subcontainer {
  width: 690px;
  margin: 0 auto;
}

.body-subcontainer.responsive-width-demo {
  width: auto;
  min-width: 315px;
}
